{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>school - {% block title %} {% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <div class="home-container">
                <a href="{% url 'home' %}">صفحه اصلی</a>
            </div>
            {% if request.user.is_authenticated %}
                <div class="logout_container">
                    <a class="logout" href="{% url 'user_logout' %}">خروج</a>
                </div>
                <div class="profile_container">
                    <a class="link_profile" href="{% url 'user_profile' %}">کارتابل</a>
                </div>
            {% else %}
                <div class="signin-container">
                    <div class="signin_dropdown">
                    <button class="dropbtn">ورود</button>
                    <div class="dropdown-content">
                        <a href="{% url 'user_student_signin' 'student' %}">دانش آموز</a>
                        <a href="{% url 'user_teacher_signin' 'teacher' %}">معلم</a>
                        <a href="{% url 'user_parent_signin' 'parent' %}">والدین</a>
                    </div>
                    </div>
                </div>
            {% endif %}
             <div class="time-container">
                امروز : {% time %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <footer>
        <p>کلیه حقوق این وبسایت متعلق به این دبیرستان میباشد</p>
    </footer>
    
</body>
</html>